# Python virtual environments
venv/
.venv/
env/

# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Data & storage directories
data/
storage/
.idea/
.vscode/
.git/
